 {% load static %}
 <!doctype html>
		<html lang="en">
		  <head>
		    <!-- Required meta tags -->
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          
		    <!-- Bootstrap CSS -->
		   
		    <title>base page</title>
		    {% include "base/css.html" %}
		    <!--<link rel="stylesheet" type="text/css" href="{% static 'static_files/main.css' %}">-->

		    
			    {% block style %}{% endblock %}
			    <style>
			    	.display{
			    		background-color: #c2d6d6;
			    		font-family: arial;
			    		font-weight: bolder;
			    		padding-left: 10px;
			    		text-align: justify-all;
			    		border-style:hidden;
			    		width:500px;
			    		margin-left: auto;
			    		margin-right: auto;

			    		
			    	}
			    	.white{
			    		background-color: white
			    		height: 2px;
			    	}

			    	.separator{
			    		border:1px solid black;
			    	}
			    	
			    	
			    </style>
			    <script>
			    	{% block tooltipscript %}{% endblock %}
			    </script>
			</head>
		  </head>
		  <body>
		  	{% include "base/nav.html" with brand="ecommerce" %}
		      
            <div class = 'container-fluid content-row'>
		    {% block content %}{% endblock %}
		    </div>
		    {% include "base/js.html" %}
		  </body>
		</html>