 {% load static %}
 <!doctype html>
		<html lang="en">
		  <head>
		    <!-- Required meta tags -->
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          
		    <!-- Bootstrap CSS -->
		   
		    <title>base page</title>
		    {% include "base/css.html" %}
		    <!--<link rel="stylesheet" type="text/css" href="{% static 'static_files/main.css' %}">-->
		    
			{% block style %}{% endblock %}
			  			   
		 </head>
		  
		  <body>
		  	{% include "base/nav.html" with brand="ecommerce" %}
		      
		    {% block scripting %}{% endblock %}
            <div class = 'container-fluid content-row'>

		      {% block content %}{% endblock %}

		    </div>
              
		    {% include "base/js.html" %}

		  </body>
		</html>