{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href='{% static "css/bg.css" %}'>
{% endblock %}


{% block content %}
 
 	<div class = 'row'>
      {% for items in object_list %}
      
        <div class="col-lg-3 d-flex align-self-stretch justify-content-center">
          <!--<div class="col-sm-12 col-lg-6"> 
        {{forloop.counter}}-->
         {% include "products/widgets/card.html" with instance=items %}
          {% if forloop.counter|divisibleby:4 %}	
          <!--{% cycle 'hello vikky' '' '' %} -->
         </div><div class = 'col-12'><hr/>
         </div>
         
         {% else %}
          </div>
        
         {% endif %}	
       {% endfor %}
     </div>
    {% endblock %}




