.display{
			    		background-color: #c2d6d6;
			    		font-family: arial;
			    		font-weight: bolder;
			    		padding-left: 10px;
			    		text-align: justify-all;
			    		border-style:hidden;
			    		width:500px;
			    		margin-left: auto;
			    		margin-right: auto;

			    		
			    	}
			    	.white{
			    		background-color: white
			    		height: 2px;
			    	}

			    	.separator{
			    		border:1px solid black;
			    	}